@use 'variables';

.faq {
    padding: 5.6vw;

    h2 {
        text-align: center;
        margin-bottom: 24px;
    }

    &__questions {
        &__item {
            background-color: rgb(245, 245, 245);
            margin-bottom: 16px;

            &__question {
                color: variables.$orangeColor;
                font-weight: 900;
                font-size: 20px;
                padding-top: 24px;
                padding-bottom: 24px;
                display: block;
                cursor: pointer;
                position: relative;

                &::after {
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                    color: variables.$darkPurpleColor;
                }
            }

            &__answer {
                height: 0;
                overflow: hidden;
                transition: height, .5s ease;
                color: variables.$darkPurpleColor;
                

                
            }

            &--is-open {

                .faq__questions__item__question {
                    color: darken(variables.$orangeColor, 10%)
                }

                .faq__questions__item__question::after {
                    content: '-';
                }

                .faq__questions__item__answer {
                    height: auto;
                    padding-top: 24px;
                    padding-bottom: 24px;
                    transition: height, .5s ease;
                    border-top: 1px solid grey;
                }
            }
        }
    }
}