@use 'reset';
@use 'variables';
@use 'header';
@use 'hero';
@use 'shows';
@use 'conveniente';
@use 'prova-social';
@use 'news';
@use 'faq';
@use 'footer';


@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

@mixin text($font-size: 16px) {
    font-size: $font-size;
    line-height: $font-size + 10px;
}

@mixin title($font-size: 40px) {
    font-size: $font-size;
    line-height: $font-size + 10px;
}

.text--big {
    @include text(18px);
}
.text {
    @include text;
}
.text--small {
    @include text(12px);
}

.text--link {
    @include text(12px);
    text-decoration: underline;
}


.title--big{
    @include title(44px);
}
.title{
    @include title(40px);
}
.title--small{
    @include title(36px);
}


.button-orange{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: variables.$orangeColor;
    background-color: variables.$whiteColor;
    border: 2px solid variables.$orangeColor;
    border-radius: 8px;
    margin-top: 0.8vw;
    margin-bottom: 8px;   
    cursor: pointer;

    &:hover {
        background-color: lighten(variables.$orangeColor, 4%);
        color: variables.$whiteColor;
    }
}   

.project_container{
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
}

.button-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 900;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    padding: 12px 20px;
    letter-spacing: 1px;

    &--orange {
        color: variables.$whiteColor;
        background-color: variables.$orangeColor;
        border: 1.5px solid variables.$orangeColor;
        letter-spacing: 1px;

        &:hover {
            background-color: lighten(variables.$orangeColor, 4%);
        }
    }

    &--ghost {
        color: variables.$whiteColor;
        background-color: rgba(0, 0, 0, 0.3);
        border: 1.5px solid variables.$whiteColor;
        letter-spacing: 1px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.6);
        }
    }


}